[submodule "codeFlix"]
	path = codeFlix
	url = git@github.com:erisnilton/codeFlix.git
[submodule "srstudio"]
	path = srstudio
	url = git@github.com:erisnilton/srstudio.git
[submodule "Teste-full-stack-p3"]
	path = Teste-full-stack-p3
	url = git@github.com:erisnilton/Teste-full-stack-p3.git
